/* body {
    background:radial-gradient(farthest-side ellipse at 10% 0,#333867 20%,#17193b);
} */

.app {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
  }

  body {
    
  }