.sidebar {
    position: fixed;
    width: 200px;
    height: calc(100vh - 50px);
    /* background-color: #343a40; */
    background-color: white;
    top: 50px;
    justify-content: center;
    align-items: center;
}
.sidebarWrapper {
    padding: 0px;
    color: #555;

}

.nav-menu-items {
    padding: 0;
    justify-content: center;
}

.nav-text {
    justify-content: center;
    align-items: center;
}